<body id="body" >

 <!--
Welcome Slider
==================================== -->

 <section class="hero-area hero-area-tint">
 	<div class="container">
 		<div class="row">
 			<div class="col-md-12">
 				<div class="block">
				 <%= render "layouts/alerts" %>
 					<h1 class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".3s" style="color: white">Community focused<br> freelancing</h1>
 					<p class="wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".5s">At Free Freelancer I work for free, all proceeds go to charity. 
					 																	I provide a professional service on a range of activities. Our business 
																						 model not only benefits the customer but charities too.</p>
 					<ul class="list-inline wow fadeInUp" data-wow-duration=".5s" data-wow-delay=".7s">
 						<li class="list-inline-item">
 							<a data-scroll href="#services" class="btn btn-primary">Services</a> 
 						</li>
 						<li class="list-inline-item">
 							<a data-scroll href="#about" class="btn btn-primary">About</a>
 						</li>
 					</ul>
 				</div>
 			</div>
 		</div>
 	</div>
 </section>


	<!--
Start About Section
==================================== -->
<section class="about" id="about">
	<div class="container">
		<div class="row">
		
			<!-- section title -->
			<div class="title text-center"  >
				<h2>About</h2>
				<P></P>
				<p>Free Freelancer is a social enterprise which provides business services to small and medium-sized organisations, including startups and local independent businesses. All proceeds go back into the community through a number of chosen charities. </p>
				<div class="border"></div>
			</div>
			<!-- /section title -->

			<div class="col-md-5">
				<%= image_tag "huddle1.png", :class => "img-fluid"%>
			</div>
			<div class="col-md-7 my-auto">
				<p>Hi, my name is Bill and I created Free Freelancer. I intially created this site as a platform to integrate everything I have learnt while learning to code, it has given me the 
				practical experience of building a website and the  issues that come with this. I have since been learnign other things such as Power BI, I have been trying to get experience through working for people where they will
				<p>I created Free Freelancer to help fund charities. Our target audience is small business where they may be lacking a certain skill. SMEs are at the heart of the UK economy making up 99.9% of the nation's business population.
				Free Freelancer aims to support SMEs by providing a range of services and addressing common issues which they may face.</p>
				<p>I come from a professional background. Working in this way enables me to develop skills which I do not use in my current role, but I am interested in e.g. creating this website using Ruby on Rails. Please vist my linkedIn page for on me - Link in the nav bar. </p>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
	<!--
Start Call To Action
==================================== -->
<section class="call-to-action-2 section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2>I will work with you to provide a service you are happy with, worst case scenario you give some money to charity!</h2>
			</div>
		</div> 		<!-- End row -->
	</div>   	<!-- End container -->
</section>   <!-- End section -->
	<!-- Start Services Section
		==================================== -->

<section  class="services " id="services">
	<div class="container">
		<div class="row g-0">
			<!-- section title -->
			<div class="col-12">
				<div class="title text-center">
					<h2>Services</h2>
					<p> There are a number of services which I am able to offer some of which I am better at than others, please get in touch and I will be happy to have a conversation to see how I can meet your needs. Below is some of what I am able to offer.</p>
					<div class="border"></div>
				</div>
			</div>
	
			<!-- /section title -->

			<!-- Single Service Item -->
			<div  class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<%= octicon "graph", :height => 80 %>
					</div>
					<h3>Data Visualisation</h3>
					<p>Whether you want data visualized to inform the decision-making process or to provide business insights I can visualize this through a range of techniques.<br><br></p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<%= octicon "pulse", :height => 80 %>
					</div>
					<h3>Data Analysis</h3>
					<p>Cleanse, transform and model data with tools such as Excel and Power BI. I will meet the specific needs of the customer ensuring that analysis provides a response to your questions.<br><br></p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<%= octicon "table", :height => 80 %>
					</div>
					<h3>Excel Work</h3>
					<p>Whether you need help with a formula or a custom macro created, I can help with your Excel needs.<br><br><br></p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4  text-center">
					<div class="service-icon text-center">
						<%= octicon "inbox", :height => 80 %>
					</div>
					<h3>Business Services</h3>
					<p>A range of generic business services are offered such as the production of reports, presentations and anything further which you may require.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 color-bg text-center">
					<div class="service-icon text-center">
						<%= octicon "paste", :height => 80 %>
					</div>
					<h3>Project Management</h3>
					<p>I am able to assist in project and programme management activities such as planning, resource management and governance.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

			<!-- Single Service Item -->
			<div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
				<div class="service-block p-4 text-center">
					<div class="service-icon text-center">
						<%= octicon "repo", :height => 90 %>
					</div>
					<h3>Other</h3>
					<p>If your exact requirement has not been mentioned please get in touch and I will be happy to have a conversation with you to see if we are able to accommodate your needs.</p>
				</div>
			</div>
			<!-- End Single Service Item -->

		</div> <!-- End row -->
	</div> <!-- End container -->
</section> <!-- End section -->
</body>




  



