<%= render "layouts/banner", imgClass: "resources-page-header", title: "Resources" %>
<%= render "layouts/alerts" %>


<section class="contact-us" id="contact">
	<div class="container">
		<div class="row">

			<div class="contact-details col-md-6 " >
				<h3>Useful Resources</h3>
				<p>Throughout my time learnign to code I have written down some key sites and bits of code I have found useful. Looking back at some of this 
          now it seems easier than I remember. Creating this also gave me practice in using models, controllers etc in Rails and also importing a CSV file into PostgreSQL. </p>
      </div>

      <div class="pb-3 pt-4">
				<%= octicon "globe", :height => 60 %>
        &nbsp; &nbsp <%= link_to "Key Websites", web_site_index_path %>
			</div>  

	    <div class="pb-5" >
				<%= octicon "codespaces", :height => 60 %>
        &nbsp; &nbsp <%= link_to "Coding Bits", code_resource_index_path %>
      </div>  
			
    </div>
  </div>
</section>  