<%= render "layouts/banner", imgClass: "single-page-header", title: "Blog" %>

<div class="container">
    <h1 class="pt-4"> <%= @blog.title %> </h1>
    <p>By: <%= @blog.user.name %> / <%= @blog.created_at.strftime('%d-%m-%Y') %></p>
    <p class="nicEdit-main" > <%= @blog.body %> </p>
</div>
